html{
  height:100%;
}

body {
  background-image: url("./boston-from-cambridge.jpg");
  background-size:cover;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header, footer {
  background-color: rgb(29, 39, 56);
  color: white;
  position: fixed;
  width: 100%
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 75px;
  top: 0;
}

.my-name {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  justify-content: space-around;
  font-size: 2em;
  padding: 0 10px 0 10px;
  text-align: center;
}

nav {
  display: flex;
  flex: 5 0 auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  overflow: visible;
  font-size: 1.5em;
}

.nav-link {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-link > a {
  text-decoration: none;
  color: white;
}

.active:hover {
  background-color: green;
}

.inactive:hover {
  background-color: red;
}

footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 50px;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-media-links > a {
  color: white;
  padding: 0 15px 0 15px;
  text-decoration: none;
}

main {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.jumbotron {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.content {
  background-color: rgb(255, 80, 0);
  background-color: rgba(255, 80, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.content > article {
  padding: 0 10% 0 10%;
}

h1 {
  font-size: 3.5em;
  margin: 20px 0 20px 0;
}

h2 {
  font-size: 2.5em;
  margin: 20px 0 20px 0;
}

@media all and (max-width: 760px) {

  .content {
    font-size: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  nav {
    font-size: 1em;
  }
}
