/*
  Main stylesheet for my personal page.
  Written by Michael Wheeler.
 */

html {
    font-size: 16px;
}

/* Set the margins, default colors, and font */
body {
    background-color: white;
    color: black;
    font-family: 'Work Sans', sans-serif;
    margin: 2vh 15vw;
}

/* Set the font for page headers */
#big-name, .section-header, .cv-subsection-header {
    font-family: 'Heebo', sans-serif;
}

/* Make all the links a pretty shade of blue */
a {
    color: darkblue;
}

/* Make the font size in the paragraphs and other text a little bigger */
.about-text, .bio-item-desc {
    font-size: 1.25rem;
}

/* Make the navigation list elements display inline and flex */
nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: start;
}
nav li {
    display: inline;
    font-size: 1.5rem;
    padding-right: 2rem;
}

/* Center my big name and profile picture at the top of the page */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Set the font for my name at the top of the page. */
#big-name {
    font-size: 6rem;
    margin: 1rem 0;
    letter-spacing: 0.4rem;
}

#profile-pic {
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 400px;
}

/* "About", "Bio", "Curriculum Vitae" */
.section-header {
    font-size: 2.75rem;
    margin-top: 4%;
    margin-bottom: 2%;
    letter-spacing: 0.2rem;
}

/* Make the dates and the text in the bio section flex together */
.bio-list {
    list-style: none;
    padding-left: 0;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [bio-date] max-content [bio-desc] 1fr;
    grid-gap: 1.5rem 1.25rem;
}

.bio-item-date {
    margin: 0;
}

.bio-item-desc {
    text-align: left;
}

/* "College Coursework", "Work Experience" */
.cv-subsection-header {
    font-size: 1.5rem;
}

/* Any of the text that displays in the summary of a details dropdown */
.cv-summary-text {
    font-size: 1.25rem;
}

/* Give the dropdown sections in the CV a little space between each other
   as well as a slight indent in from the headers above them. */
details {
    margin: 1em 0 0 1em;
}

/* Remove the triangle that goes with the summary dropdowns */
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

/* And replace it with a better icon that changes on open */
details .details-icon:after {
    content: " ▶&#xFE0E;";
}
details[open] .details-icon:after {
    content: " ▼&#xFE0E;"
}

/* Make the lists underneath the details sections line up with with the summary text above them. */
details ul, details ol{
    padding-left: 2.5%;
}

/* Make the grades justify away from the courses in the CV */
.cv-course-list {
    list-style: none;
    padding-left: 0;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10ch 1fr 2ch;
    grid-gap: 0.5rem 1.5rem;
    max-width: 50%;
}

.cv-experience-list {
    list-style: none;
    padding-left: 0;
}

/* Make the dates in the CV experiences justify away from the text of those headers. */
.cv-experience-summary-with-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cv-experience-time {
    text-align: right;
}

.cv-other-list {
    list-style: none;
    padding-left: 0;
}

/* Center the copyright notice in the footer */
footer {
    min-height: 5vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#debug {
    color: grey;
}
