body {
    background-color: white;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.jumbotron-pic {
    background: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.7)
    ), url("img/banner_isec_stairs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    min-height: 100vh;
}

.intro-heading {
    font-size: 4vw;
    font-family: 'Bungee Shade', cursive;
    color: white;
}

#section-who-i-am {
    margin: 2% 5%;
    font-size: 1.25vw;
}

section h2 {
    font-size: 3vw;
}

footer {
    background-color: black;
}

footer a {
    color: white;
    font-size: 1.5em;
}