/*
  Stylesheet for media queries: resizing fonts and such on small screens.
  Written by Michael Wheeler
 */

/* Header font sizes for medium-sized screens */
@media screen and (max-width: 1040px) {
    #big-name {
        font-size: 4rem;
    }

    .bio-item-date {
        font-size: 2rem;
    }
}

/* Header font sizes for small-sized screens */
@media screen and (max-width: 736px) {
    #big-name {
        font-size: 2.5rem;
    }

    .bio-item-date {
        font-size: 1.25rem;
    }
}
