body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  margin: 0 4em;
  min-height: 100vh;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.three-pane-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  width: 100%;
  justify-content: space-around;
}

.three-pane-container > div, .three-pane-container > address {
  flex: 0 0 auto;
  margin: 0 2px;
  padding: 5px;
}

.three-pane-container span {
  float: right;
}

.three-pane-container > address {
  font-style: normal;
}

.big-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#digital-contact-methods {
  flex: 0 1 auto;
  font-size: 1em;
}

body > section {
  flex: 1;
}

footer {
  text-align: center;
  padding-bottom: 1em;
  font-style: italic;
}

.section-header {
  border-bottom: 1px solid black;
  margin-top: 1em;
  margin-bottom: 0;
}

.subsection-header {
  margin: 6px 0 2px 0;
}

.subsection-header > h3 {
  margin: 0;
}

.date {
  text-align: right;
  font-weight: bold;
}

.indent-box-education {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 1.25em;
  grid-row-gap: 0.3em;
}

.indent-box-education > .subsection-header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

.left-indent {
  grid-column: 1 / 2;
}

.right-indent {
  grid-column: 2 / 3;
}

.detail-text {
  font-size: 1em;
}

.detail-text > ul {
  margin: 0;
}

.skills-list > li {
  list-style: none;
}

.indent-box-work {
  display: flex;
  flex-direction: column;
}

.indent-box-work > .subsection-header {
    display: flex;
    justify-content: space-between;
}



@media all and (max-width: 768px) {
  .three-pane-container > div, .three-pane-container > address {
    min-width: 0;
  }

  #digital-contact-methods {
    font-size: 0.8em;
  }

  .detail-text {
    font-size: 0.75em;
  }

  .subsection-header > h3 {
    font-size: 1.3em;
  }

}

@media print {
  body {
    margin: 0 2em;
  }

  a {
    text-decoration: none;
  }
  .three-pane-container > div, .three-pane-container > address {
    font-size: 1.5vw;
  }
  .three-pane-container > address {
    min-width: 0;
  }

  .section-header {
    margin-bottom: 0;
    margin-top: 0.25em;
  }

  .detail-text {
    font-size: 1.5vw;
  }

  .indent-box-education, .indent-box-work{
    margin-bottom: 0;
  }

  footer {
    margin-top: 0.2em;
  }

  #digital-contact-methods {
    min-width: 0;
    font-size: 1.5vw;
  }
}
